* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.8px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #22254b;
    color: white;
    margin: 0;
    width: 100%;
}

.root {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #373b69;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header > form {
    flex-basis: 800px;
}

header > input {
    justify-content: flex-end;
}

.navForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItems {
    display: flex;
    flex-basis: 60vw;
    align-items: center;

    justify-content: space-between;
}

.navItems > li {
    list-style-type: none;
    cursor: pointer;

    font-size: large;
    font-weight: bold;
    box-shadow: 3px 3px 0px rgba(34, 37, 75, 0.1);
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;

    height: fit-content;
}

.search:focus {
    outline: 0;
}

.movieContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.getTrailer {
    position: absolute;
    filter: drop-shadow(2px 1px 10px rgb(255, 255, 255));
    margin-left: 10px;
}

.movie img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.movieInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movieInfo h3 {
    margin: 0;
}

.movieOver {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    color: #22254b;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movieOver {
    transform: translateY(0%);
}

.tag {
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
}

.tag.green {
    color: rgb(5, 185, 5);
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}

.videoPopup {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPopupInner {
    position: relative;
    padding: 32px;
    height: 70vh;
    width: 80vw;
    background-color: #22254b;
}

.videoPopupInner .videoPopupCloseBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
    z-index: 2;
    font-size: larger;
    padding: 5px 12px 5px 12px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.videoContainer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nextAndPrevBtn {
    background-color: rgba(55, 59, 105, 0.6);

    width: 100%;
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nextAndPrevBtn > button {
    border: none;
    padding: 10px;

    font-size: large;
    font-weight: 700;

    background-color: rgb(186, 183, 211);
}

.releaseDate {
    position: absolute;
    right: 0;
    top: 0;
}

.burger {
    height: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    display: none;
}

.burger > .bar {
    width: 40px;
    border: 3px solid rgb(255, 255, 255);
}

.burger:hover + .navItems {
    /* display: block; */
}

@media screen and (max-width: 850px) {
    header {
        background-color: rgba(0, 0, 0, 0);
    }

    .burger {
        display: block;
        height: 43px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .search {
        box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2);
        width: 60vw;
    }

    .navForm {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;

        gap: 15px;
    }

    .navItems {
        flex-direction: column;
        flex-basis: 150px;
        justify-content: space-between;

        align-items: flex-start;

        display: none;
    }
}
