* {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #22254b;
    color: white;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #373b69;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.search:focus {
    outline: 0;
}

.movieContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.getTrailer {
    position: absolute;
    filter: drop-shadow(2px 1px 10px rgb(255, 255, 255));
    margin-left: 10px;
}

.movie img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.movieInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movieInfo h3 {
    margin: 0;
}

.movieOver {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    color: #22254b;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movieOver {
    transform: translateY(0%);
}

.tag {
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
}

.tag.green {
    color: rgb(5, 185, 5);
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}

.videoPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPopupInner {
    position: relative;
    padding: 32px;
    height: 100%;
    max-height: 80vh;
    width: 100%;
    max-width: 80vw;
    background-color: #22254b;
}

.videoPopupInner .videoPopupCloseBtn {
    position: absolute;
    top: 16px;
    right: 16px;
}
